<div class="container">
  <h1>Stupid Coaching</h1>
  <p><em>I'm not that stupid, I'm just a robot!</em></p>
  <%= @question %>
  <%= @answer %>
  <br><br><%= link_to "Ask me an other question if you dare!", ask_path %>
</div>

