<div class="container">
  <h1>Stupid Coaching</h1>
  <p><em>I'm not that stupid, I'm just a robot!</em></p>
  <form action='answer' class="input-group-append">
    <div class="form-group mb-2">
      <input type='text' name='question' class="form-control">
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <input type='submit' value='Ask!' class="btn btn-primary mb-2">
    </div>
  </form>
</div>
